img {width: 100%}
body {margin:0}
a {border:0}
button{width: 100%;font-size:40px}
.mui-row {margin-top:-3px;}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

select, input {
    border-radius: 3px;
    border: solid 1px #8b8989;
}

